<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <section th:fragment="form">

        <form th:Object="${empEdit}" action="#"
              th:action="@{/home/update/{empId}(empId=${empEdit.empId})}" method="POST" id="editEmpForm">
            <table>
                <tr>
                    <td>empName: <input type="text" th:field="*{empName}" id="empNameTxt" required></td>
                    <!--td th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}">Name Error</td-->
                </tr>
                <tr>
                    <td>empActive: <input type="checkbox" th:field="*{empActive}" id="empActiveTxt"></td>
                </tr>
                <tr>
                    <td>empDepartment:
                        <select th:field="*{department}" id="dpValue" required>
                            <option th:value="*{department.dpId}"
                                    th:text="*{department.dpName}"
                                    selected="selected">
                            </option>
                            <option th:each="depart : ${departments}"
                                    th:value="${depart.dpId}"
                                    th:text="${depart.dpName}">
                            </option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </section>
</body>
</html>