<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<section th:fragment="form">
    <form>
        <table>
            <tr>
                <td>empName: <input type="text"></td>
            </tr>
            <tr>
                <td>empActive: <input type="checkbox"></td>
            </tr>
            <tr>
                <td>empDepartment:
                    <select>
                        <option>
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="button" value="Save"></td>
                <td id="cancel"><input type="button" value="Cancel" class="buttons"></td>
            </tr>
        </table>
    </form>
</section>
</body>
</html>